<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Trainers | School of Code</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<div class="container">
			<header>
				<a class="SoC" href="/">&lcub; School of Code &rcub;</a>
				<nav id="mainNav">
					<ul>
						<li><a href="">About Us</a></li>
						<li><a href="">Curriculum</a></li>
						<li><a href="">Contact Us</a></li>
						<li><a href="">Sign Out</a></li>
					</ul>
				</nav>
			</header>

			<nav class="sectionNav">
				<a class="navItem selected" href="/trainers">
					<h3>Trainers</h3>
					<img
						src="/img/iconfinder_human_1216577.png"
						class="formImg"
						alt="Trainers"
					/>
				</a>
				<a class="navItem" href="/courses">
					<h3>Courses</h3>
					<img
						src="/img/iconfinder_curly_braces_1216586.png"
						class="formImg"
						alt="Courses"
					/>
				</a>
				<a class="navItem" href="/assignments">
					<h3>Assignments</h3>
					<img
						src="/img/iconfinder_paper_1216567.png"
						class="formImg"
						alt="Assignments"
					/>
				</a>
				<a class="navItem" href="/students">
					<h3>Students</h3>
					<img
						src="/img/iconfinder_humans_1216581.png"
						class="formImg"
						alt="Students"
					/>
				</a>
			</nav>

			<form action="" class="searchSection">
				<div>
					<input
						type="text"
						class="search"
						placeholder="Search for a trainer "
					/>
					<img
						src="/img/iconfinder_2040_searchpad_change_c12_2400494.png"
						alt="search"
					/>
				</div>
			</form>

			<main class="mainForm">
				<div>
					<h2>Add trainer</h4>
				<form action="trainers/add" method="POST">
					<input type="text" name="firstName" placeholder="Name">
					<input type="text" name="lastName" placeholder="Surname">
					<button type="submit">Submit</button>
				</form>
				</div>
				

				<div class="listContainer">
					<!-- <h2>Trainer List</h2> -->
					<h2> <u> Name - Surname</u> </h4>
					<ul id="trainersList">
						<% for(let i=0; i<result.length; i++) {%>
							<% const {firstName, lastName} = result[i]; %>  
							<li> <%= firstName %> - <%= lastName %></li>
						<% } %> 
					</ul>
				</div>

				
			</main>


		</div>
	</body>
</html>
